@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap');

/*COMMON*/
.tabs, .background__item-design, .contacts__section {
width: 1170px;
margin: 0 auto;
}

.body {
width: 1510px;
height: 100%;
margin: 0 auto;
overflow-x: hidden;
}

.block__header {
height: 200px;
}

.block__header-title {
margin: 0 auto;
height: 150px;
justify-content: center;
display: flex;
font-family: 'Raleway';
font-size: 36px;
align-items: center;
position: relative;
top: 50px;
}

.block__header-underline {
width: 170px;
margin: 0 auto;
border: 1px solid #EC7979;
position: relative;
top: 50px;
}

.block__header-paragraph {
margin: 0 auto;
justify-content: center;
position: relative;
top: 90px;
font-family: 'Raleway';
font-size: 18px;
color: #86878B;
display: flex;
}

#ellipse {
width: 92px;
height: 92px;
position: relative;
left: 68px;
z-index: 1;
}

#triangle {
position: relative;
right: 100px;
}

.pricing__item-style {
display: flex;
border: 2px #F5F5F5 solid;
background-color: #333333;
align-items: center;
justify-content: center;
box-sizing: border-box;
}

.faces {
position: relative;
right: 88px;
top: 66px;
}

.faces__name {
height: 100px;
margin: 0 auto;
font-family: 'Open Sans', sans-serif;
font-weight: bolder;
font-size: 24px;
position: relative;
left: 10px;
display: flex;
justify-content: center;
}

.faces__work {
margin: 0 auto;
font-family: "Raleway";
font-size: 18px;
display: flex;
position: relative;
bottom: 35px;
left: 10px;
}
/*COMMON*/

.firstpage {
height: 1166px;
margin: 0 auto;
}

.firstpage__header {
width: 1510px;
height: 75px;
background-color: black;
position: fixed;
z-index: 4;
}

.firstpage__header-logo {
height: 75px;
display: table-cell;
vertical-align: middle;
position: relative;
left: 115px;
cursor: pointer;
}

.firstpage__header-menu {
width: 114px;
font-family: 'Open Sans';
font-size: 14px;
font-weight: 600;
line-height: 19px;
text-align: center;
color: white;
position: relative;
display: table-cell;
vertical-align: middle;
left: 664px;
cursor: pointer;
}

.link {
text-decoration: none;
}

.firstpage__section {
height: 951px;
background: url(image/street.jpg);
position: relative;
background-size: contain;
background-repeat: round;
}

.firstpage__section:after {
content: '';
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: rgba(0,0,0,.5);
z-index: 2;
}

.firstpage__section-center {
width: 1170px;
height: 450px;
margin: 0 auto;
}

.firstpage__footer {
height: 140px;
background: rgba(248, 239, 239, 1);
}

.firstpage__footer-title {
font-family: 'Open Sans';
font-size: 24px;
font-weight: 700;
margin: 0 170px;
display: flex;
width: 470px;
height: 60px;
align-items: center
}

.firstpage__footer-paragraph {
display: flex;
font-family: "Raleway";
font-size: 18px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
margin: 18px 170px;
color: rgba(134, 135, 139, 1);


}

.tabs__header {
height: 50px;
}

.tabs__header-tab {
width: 201px;
height: 50px;
font-family: 'Open Sans';
font-size: 14px;
background-color: white;
border: 1px #C6CBCD solid;
border-bottom: none;
border-radius: 5px 5px 0 0;
cursor: pointer;
float: left;
}

#tabs__header-tab2and3 {
border: 0;
border-bottom: 1px #c6cbcd solid;
}

#tabs__header-tab2and3:active {
border: 1px #C6CBCD solid;
border-bottom: none;
border-radius: 5px 5px 0 0;
}

.tabs__header-div {
width: 567px;
height: 49px;
display: inline-block;
border-bottom: 1px #C6CBCD solid;
}

.tabs__section {
height: 500px;
border: 1px #C6CBCD solid;
border-top: none;
}

.tabs__section-img {
width: 470px;
height: 500px;
margin-right: -1px;
float: right;
}

.tabs__section-header {
width: 570px;
height: 124px;
display: flex;
margin-left: 100px;
line-height: 124px;
}

.tabs__section-header-title {
font-family: 'Open Sans';
font-size: 30px;
margin: 0;
}

.tabs__section-discription {
width: 570px;
height: 210px;
display: inline-block;
margin-left: 100px;
}

.tabs__section-discription-paragraph {
font-family: 'Raleway';
font-weight: 400;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
}

.tabs__section-button-download {
width: 270px;
height: 58px;
position: relative;
right: 113px;
top: 52px;
font-family: 'Open sans';
font-size: 18px;
display: flex;
align-items: center;
justify-content: center;
background: #EC7979;
color: white;
margin: 0 auto;
cursor: pointer;
transition: 500ms;
}

.tabs__section-button-download:hover {
background: #AB4949;
transition: 500ms;
}

.tabs__section-button-download:active {
box-shadow: inset 0px 0px 10px #AB4949;
background: #EC7979;
border: 1px solid;
transition: 10ms;
}

.awesome {
width: 1170px;
height: 773px;
margin: 0 auto;
}

.awesome__section {
display: flex;
position: relative;
top: 171px;
justify-content: space-between;
}

#bulb {
width: 65.29px;
height: 65.29px;
position: relative;
z-index: 2;
left: 150px;
bottom: 10px;
border-radius: 40px;
}

.awesome__section-title {
width: 369px;
height: 100px;
margin: 0 auto;
font-family: 'Open Sans', sans-serif;
font-weight: bolder;
font-size: 24px;
position: relative;
top: 40px;
display: flex;
justify-content: center;
align-items: center;
}

.awesome__section-paragraph {
margin: 0 auto;
width: 370px; 
font-family: 'Raleway';
font-size: 18px;
text-align: center;
position: relative;
top: 48px;
}

#keyboard {
width: 66px;
height: 46px;
position: relative;
z-index: 2;
left: 152px;
bottom: 22px;
}

#lightning {
width: 44px;
height: 66px;
position: relative;
z-index: 2;
left: 142px;
bottom: 12px; 
}

.pricing {
background-color: rgba(245, 245, 245, 1);
justify-content: center;
}

.pricing__item-pricingoptions {
width: 1170px;
height: 900px;
margin: 0 auto;
}

.pricing__content {
display: flex;
justify-content: space-between;
position: relative;
top: 140px;
}

#pricing__item-title {
width: 370px;
height: 60px;
font-family: 'Open Sans';
font-weight: 700;
font-size: 24px;
color: white;
}

#pricing__item-price {
width: 370px;
height: 100px;
font-family: 'Raleway';
font-weight: 700;
font-size: 36px;
color: white;
}

#pricing__item-description {
width: 370px;
height: 50px;
font-family: 'Raleway';
font-weight: 400;
font-size: 18px;
color:  rgba(255, 255, 255, 0.5);
}

#pricing__list-item {
width: 370px;
height: 50px;
background-color: rgba(255, 255, 255, 1);
font-family: 'Raleway';
font-weight: 400;
font-size: 18px;
color:  rgba(134, 135, 139, 1);
}

.pricing__item {
transition: 90ms;
}

.pricing__item:hover {
position: relative;
cursor: pointer;
box-shadow: 0px 10px 10px rgb(0 0 0 / 50%);
transition: 1s;
transform: scale(1.1);

}

.pricing__item:active {
border: 1px white solid;
}

.customers {
height: 744px;
margin: 0 auto;
}

.customers__item-customerssaying {
width: 1170px;
margin: 0 auto;
}

.customers__description {
width: 370px;
height: 180px;
background: #E2E2E2;
border-radius: 10px;
display: flex;
align-items: center;
}

.customer__description-words {
margin: 0 auto;
width: 370px;
line-height: 21px;
font-family: 'Raleway';
font-size: 18px;
text-align: center;
position: relative;
color: #86878B;
}

.customers__item-customerssaying-triangle {
display: flex;
justify-content: space-around;
position: relative;
top: 140px;
}

.customers__item-customerssaying-faces {
display: flex;
justify-content: space-around;
position: relative;
top: 115px;
}

.customers__item-customerssaying-faces-secondface {
position: relative;
right: 34px;
}

.background {
height: 442px;
background: url(image/town.jpg);
background-attachment: fixed;
position: relative;
}

#block__header-background {
height: 100px;
}

.background:after {
content: '';
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: rgba(0,0,0,.5);
z-index: 2;
}

#block__header-title-background {
position: relative;
z-index: 3;
color: #fff;
text-align: center; 
}

#block__header-underline-background {
border: 1px solid #fff;
z-index: 3;
}

#block__header-paragraph-background {
color: white;
z-index: 3;
}

#background__item-design-button {
width: 370px;
height: 58px;
z-index: 3;
border: 2px white solid;
cursor: pointer;
color: white;
margin: 0 auto;
display: flex;
justify-content: center;
align-items: center;
position: relative;
top: 237px;
font-family: 'Open Sans';
font-size: 18px;
transition: 500ms;
}

#background__item-design-button:hover {
color: rgba(236, 121, 121, 1);
border: 2px rgba(236, 121, 121, 1) solid;
transition: 500ms;
}

#background__item-design-button:active {
border: 2px rgba(171, 73, 73, 1) solid;
background: #AB4949;
color: white;
transition: 10ms;
}

.contacts {
height: 722px;
margin: 0 auto;
}

.contacts__section {
height: 460px;
display: flex;
justify-content: space-between;
}

.contacts__section-data {
display: inline-block;
vertical-align: top;
}

.contacts__section-data-information {
width: 571px;
height: 19px;
position: relative;
top: 150px;
border: none;
display: inline-block;
}

.contacts__section-data-information:focus{
outline: none;
}

.contacts__section-information-underline {
width: 571px;
margin: 0;
border: 1px solid #BDBDBD;
position: relative;
top: 165px;
}

#contacts__section-data-information-email {
top: 212px;
}

#contacts__section-data-information-email-underline {
top: 227px;
}

#contacts__section-data-information-password {
top: 276px;
}

#contacts__section-data-information-password-underline {
top: 290px;
}

#contacts__section-data-information-message-underline {
top: 335px;
}

#contacts__button {
width: 370px;
height: 58px;
right: 0;
top: -50px;
}

.connection {
height: 164px;
background: black;
}

.connection__content {
width: 600px;
display: flex;
justify-content: space-around;
align-items: center;
margin: 0 auto;
position: relative;
top: 39px;
}

.connection__image {
width: 53.2px;
height: 53.2px;
transition: 1s; 
}

.connection__image:hover {
transition: 1s; 
transform: scale(1.3);
}

.connection__article {
color: rgba(255, 255, 255, 0.5);
position: relative;
top: 50px;
font-family: 'Raleway';
font-size: 18px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: center;

}